.recipesWidget {
  width: 90%;
  min-height: 36vh;
  background-color: #f2e2ff;
  border-radius: 30px;
  display: flex;
  padding:2%;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.recipesWidgetLeft {
  width: 70%;
  height: 100%;
}

.recipesWidgetTitle p {
  margin: 20px;
  font-family: "Clash Display", sans-serif;
  font-weight: 500;
  font-size: 35px;
}

.recipesWidgetMessage p{
  margin: 0px 20px 0px 20px;
  font-family: 'General-Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;

}

.recipesBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  font-family: 'General-Sans', sans-serif;
}

.recipesBtn a {
  background-color: black;
  margin: 20px;
  border-radius: 10px;
  padding: 10px 30px;
  color: white;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.recipesBtn a:hover {
  transform: scale(1.1);
}

.recipesWidgetRight {

  display: flex;
  justify-content: center;
align-items: center;
 
}

.recipesWidgetRight img{
width: 200px;
margin-bottom: -60%;

}





