.cardItem {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;

  background-color: #dbeddd;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  border: solid #DBEDDD 3px;

}
