.additem-category {
    width: 100%;
margin-left: -3%;

}

.add-item {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.plus-icon {
    margin-right:-15px ;
    cursor: pointer;
}

.add-item p {
    color: #E57B07;
    font-family: 'General Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    
}
