.card-category {
  width: 150px;
  height: 130px;
  background-color: #dbeddd;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  border: solid #DBEDDD 3px;
}

.card-category:hover {
  transform: scale(1.1);
}

.card-category p {
  font-family: "General Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin: 10px;
}

.category-icon img {
  height: 40px;
}
