.downloadWidget {
  margin: 20px 0px;
  min-height: 30vh;
  width: 90%;
  background-color: #ffdd7e;
  padding:2%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.downloadWidgetTitle p {
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 0%;
  font-size: 35px;
  font-family: "Clash Display", sans-serif;
  font-weight: 500;
}

.downloadWidgetMessage p {
  margin: 0px 20px 0px 20px;
  font-family: 'General-Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.downloadWidgetBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'General-Sans', sans-serif;
}

.downloadWidgetBtn a {
  background-color: black;
  margin: 20px;
  border-radius: 10px;
  padding: 10px 30px;
  color: white;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.downloadWidgetBtn a:hover {
  transform: scale(1.1);
}
